<script type="text/javascript">
	/*<![CDATA[*/
	$(function() {

		$("#coll").click(function() {
			$("#question_panel .collapse").collapse('toggle')
		});

		hide = true;
		ne = true;
		ce = '';
		href = '';

		$('body').popover({
			html : true,
			selector : '[data-toggle="popover"]',
			content : function() {
				href = $(this).attr('href');
				ce = $(href).removeClass('hide');
				return ce;
			}
		}).on("shown.bs.popover", function() {
			ne = false;
			$(document).click(function(event) {
				if (hide && !ne) {
					$('[data-toggle="popover"]').popover('hide');
				}
			});
			$(".popover").mouseover(function() {
				hide = false;
			});
			$(".popover").mouseleave(function() {
				hide = true;
			});
		}).on("hidden.bs.popover", function() {
			ne = true;
			setTimeout(function() {
				$('[href="' + href + '"]:first').after(ce.addClass('hide'));
			}, 100);
		});

	});
	$(function() {
		$("#add_new_question_bt").click(function() {
			$('#myModal').modal({
				backdrop : 'static'
			});
		});
		$("#tree").treed();
	});

	$(function() {

		var $sidebar = $("#sidebar"), $window = $(window), offset = $sidebar
				.offset(), topPadding = 70;

		$window.scroll(function() {
			if ($window.scrollTop() > offset.top) {
				$sidebar.stop().animate({
					marginTop : $window.scrollTop() - offset.top + topPadding
				});
			} else {
				$sidebar.stop().animate({
					marginTop : 0
				});
			}
		});

	});
	/*]]>*/
</script>

<div>
	<div class="row">
		<div class="col-md-8" ng-controller="QuestionController as question">

			<div class="panel panel-success">
				<div class="panel-heading">
					Questions
					<button id="coll"></button>
				</div>
				<div class="panel-body" style="min-height: 500px">
					<!--start question-->
					<div id="question_panel" ng-controller="QuestionController as question" class="row">
						<ul ui-sortable="sortOption" ng-model="question_list"
							id="question_container" class="list-group" ng-init="no=1">
							<li question-item="" ng-repeat="question_item in question_list"
								draggable="true" qidata="question_item" no="$index+1"
								class="list-group-item no-padding"></li>

						</ul>
					</div>
					<!--end question-->
					<div class=" row container-fluid" style="margin-top: -15px">
						<div class=" border-dotted">
							<div class="centered" style="width: 25px; padding: 0px;">
								<a role="button" id="" ng-click="showQuestionPanel()"><span
									style="font-size: 24px;" class=" glyphicon-plus"
									aria-hidden="true"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="col-md-4 ">
			<div id="sidebar">
				<div class="container-fluid animate-show" ng-show="addQuestionPanel">
					<div class="panel panel-success"
						ng-controller="AddQuestionController">
						<div class="panel-heading">Add question</div>
						<div class="panel-body">
							<button class="btn btn-primary btn-sm btn-block"
								ng-click="addQuestion(0)">Text</button>
							<button class="btn btn-primary btn-sm btn-block"
								ng-click="addQuestion(1)">Number</button>
							<button class="btn btn-primary btn-sm btn-block"
								ng-click="addQuestion(2)">Select (One)</button>
							<button class="btn btn-primary btn-sm btn-block"
								ng-click="addQuestion(3)">Select (Multiple)</button>
							<button class="btn btn-primary btn-sm btn-block"
								ng-click="addQuestion(4)">Group</button>

							<!-- /input-group -->
						</div>
					</div>
				</div>

				<div class="container-fluid animate-show" ng-hide="addQuestionPanel">
					<div class="panel panel-success"
						ng-controller="QuestionPropertiesController">
						<div class="panel-heading">Question Properties</div>
						<div class="panel-body" style="height: 500px; overflow: auto;">
							<div class="form-group">
								<label class=" control-label">Data name</label><input
									type="text" class="form-control" placeholder="Name"
									ng-model="data.name" />
							</div>
							<div class="form-group">
								<label class=" control-label"> Question text/label</label>
								<textarea class="form-control" placeholder="Text/Label"
									ng-model="data.label"></textarea>
							</div>
							<div class="form-group"
								ng-show="data.type=='select_one'|| data.type=='select_multiple'">
								<label class=" control-label"> Selection choice</label>

								<div class="container-fluid">
									<table class="table  table-striped">
										<tr ng-repeat="item in choice_list[data.choice]">
											<td>{{item.name}}</td>
											<td>{{item.label}}</td>
										</tr>
									</table>
								</div>
								<button type="button" class="btn btn-xs btn-info"
									data-toggle="modal" data-target="#modalAddOptions">Create
									choice</button>
								<combo-autocomplete cadata="data"></combo-autocomplete>
							</div>
							<a data-toggle="collapse" data-parent="#accordion"
								data-target="#propertiesAdvanced" aria-expanded="true"
								aria-controls="collapseOne"> Advanced </a>

							<div id="propertiesAdvanced" class="panel-collapse collapse"
								aria-labelledby="headingOne">
								<div class="">
									<div class="form-group">
										<label for="" class=" control-label"> Required </label> <input
											type="checkbox" ng-model="data.required" />
									</div>
									<div class="form-group"
										ng-show="data.type=='text'||data.type=='number'">
										<label for="" class=" control-label">Length</label>
										<div class="row">
											<div class="col-md-6">
												Min <input type="text" class="form-control"
													ng-model="data.min" placeholder="min" />
											</div>
											<div class="col-md-6">
												Max <input type="text" class="form-control"
													ng-model="data.max" placeholder="max" />
											</div>
										</div>
									</div>
									<div class="form-group" ng-show="data.type=='number'">
										<label class=" control-label">Type</label> <select
											class="form-control" ng-model="data.number_type">
											<option value="integer">Integer</option>
											<option value="decimal">Decimal</option>
										</select>
									</div>
									<div class="form-group">
										<label for="inputEmail3" class=" control-label">Constraint
											message </label><input type="text" class="form-control"
											placeholder="Name" />
									</div>
									<div class="form-group">
										<label class=" control-label"> Hint</label>
										<textarea class="form-control" placeholder="Text/Label"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="modalAddOptions" aria-hidden="true"
	role="dialog" data-backdrop="static">
	<div class="modal-dialog modal-sm"
		ng-controller="AddNewOptionsController">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Add new options</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="inputEmail3" class=" control-label">Option name</label><input
						type="text" class="form-control" id="inputEmail3"
						placeholder="Name" ng-model="optionName" />
				</div>
				<table>
					<tr>
						<th>name/value</th>
						<th>text/label</th>
					</tr>
					<tr>
						<td><textarea class="form-control" rows="4" cols=""
								ng-model="optionValue"></textarea></td>
						<td><textarea class="form-control" rows="4" cols=""
								ng-model="optionLabel"></textarea></td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"
					ng-click="cancel()">Close</button>
				<button type="button" class="btn btn-primary" ng-click="save()">Save</button>
			</div>
		</div>
	</div>
</div>

<div ng-include="" src="'questionnairebuilder/templates/qb_question_options'"></div>

	<script type="text/ng-template" id="/comboAutocomplete.html">

<div class="">
								<div class="input-group combo-autocomplete">

									<input type="text" class="form-control "
										placeholder="" ng-model="cadata.choice" ng-blur="onBlur()"  /> <span class="input-group-btn">
										<button
											class="btn btn-default btn-sm glyphicon glyphicon-triangle-bottom"
											type="button" ng-click="toggleList()" ng-blur="onBlur()"></button>
									</span>
								</div>
								<div ng-show="showList" style="position:absolute; z-index:1000;" class="ac-list">
									<div class="list-group">
										<a href="#" class="list-group-item" style="padding: 2px;" ng-repeat="item in dataShow" ng-click="select(item)">{{item}}</a>
									</div>
									
								</div>
							</div>
</script>